<h1> Esta es la pagina de bienvenida de strix, someday....</h1>

 <a href="#">
  
  <%= image_tag "Under_creation.jpg" %> 
  <%= image_tag "sleep_under.jpg" %>
  <% if user_signed_in? %>
   <%= image_tag "animer_under.jpg" %>
   <!--<%= image_tag "Doodles/mr_owl_s_dance_by_yannickbouchard-d7kqo62.gif" %>-->
  <% end %>
    
 </a>
 
 <p> Son varias imagenes para probar el scroll</p>
 <h3 class="ribbon-title">Ubicación y Contacto</h3>
 <a name="ubicacion" ></a> 

 <div class="fluid-wrapper">
   <iframe src="https://www.google.com/maps/d/embed?mid=zv6bLBsdDJTk.kD4GC6KeFoYY" width="90%" height="420"></iframe>
 </div>

</br>

 <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/contact.png" %>
      <div class="caption">
            <h5 class="azul ">Teléfonos / Telefax</h5>
            <p>
              +58 (212) 285.09.42
            <h5 class="azul ">RIF. </h5>
            <p>
             J-31379724-3
            </p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/mail.png" %>
      <div class="caption">
         <h5 class="azul  mt10">Correo Electronico</h5>
            <p>
              <a href="mailto:info@strix.com.ve?subject=feedback">info@strix.com.ve</a>
            </p>
      </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/calendar.png" %>
      <div class="caption">
          <h5 class="azul ">Horarios de Oficina</h5>
            <p>
              Lunes a Viernes
              <br>8:30 am - 1:00 pm / 1:30 pm - 5:00 pm</p>
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
