<h1> Esta es la pagina de bienvenida de strix, someday....</h1>

 <a href="#">
  
  <%= image_tag "Under_creation.jpg" %> 
  <%= image_tag "sleep_under.jpg" %>
  <% if user_signed_in? %>
   <%= image_tag "animer_under.jpg" %>
   <%= image_tag "Doodles/mr_owl_s_dance_by_yannickbouchard-d7kqo62.gif" %>
  <% end %>
    
 </a>

<h3 class="ribbon-title">Cualidades</h3>
<a name="cualidades" ></a>

<div class="features">
<div class="over_content">
  <br>
  <div id="myCarousel3" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel3" data-slide-to="1"></li>
      <li data-target="#myCarousel3" data-slide-to="2"></li>
      <li data-target="#myCarousel3" data-slide-to="3"></li>
      <li data-target="#myCarousel3" data-slide-to="4"></li>
      <li data-target="#myCarousel3" data-slide-to="5"></li>
      <li data-target="#myCarousel3" data-slide-to="6"></li>
      <li data-target="#myCarousel3" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/feature-011.png" alt=" Fast support">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Cualidad.01</span><h2>Soporte rápido</h2>
					<p>Nuestros Clientes reciben acceso ilimitado a nuestro escritorio de soporte.  Llámanos o envíanos un email y tu problema será resuelto rápidamente por uno de nuestros expertos. </p>
                </div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
             
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/feature-021.png" alt=" Your own IT Director">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Cualidad.02</span><h2>Su propio director Informatico</h2>
					<p>Se le asignará un Director Técnico que estará a su disposición en todo momento. Su director le ayudará con las cuestiones que quedan fuera del alcance de apoyo tales como la planificación estratégica, la compra de equipos y proyectos especiales.</p>
				</div>
                  



              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
    
      <div class="item">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/feature-031.png" alt=" Proactive Maintenance">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Cualidad.03</span><h2> Mantenimiento Proactivo </h2>
                    <p> Hemos automatizado tareas de servidor y mantenimiento informático para mantener sus servicios y dispositivos que ejecutan sin problemas al tiempo que aumenta su vida útil. También mantendremos sus software y sistemas operativos al día para garantizar la seguridad y la estabilidad óptima. </p>
                </div>  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/feature-041.png" alt=" 24/7 Monitoring">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Cualidad.04</span><h2>Monitoreo 24/7  </h2>
                    <p> Mantendremos  un ojo en sus sistemas en todo momento y proporcionar una respuesta rápida a todo tipo de incidentes. Nuestros administradores de sistemas experimentados manejan estas cuestiones como parte de su plan de apoyo.</p>
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/feature-051.png" alt=" Obsessive Backups">
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Cualidad.05</span><h2> Copias de seguridad obsesivas</h2>
					<p>Proporcionamos y gestionamos una solución de copias de seguridad y recuperación de desastres completa con múltiples niveles de redundancia para que nunca vuelva a perder un archivo importante.</p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/feature-061.png" alt=" Integrated Security">
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Cualidad.06</span><h2> Seguridad Integrada </h2>
                    <p> Gestionamos y configuramos su Anti-spam, VPN, antivirus, cortafuegos y WIFI para mantener su red segura, sin entrometernos, ni estorbar. </p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/feature-071.png" alt=" Documentation and Reporting">
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Cualidad.07</span><h2>Documentación y presentación de informes </h2>
                    <p> Vamos a mantener al día documentación de su red de computadoras, así como un inventario de sus sistemas, licencias y proveedores de software. Varios tipos de informes disponibles a demanda. </p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/feature-081.png" alt=" Monthly Special Projects Allowance">
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Cualidad.08</span><h2> Consultoría en Proyectos Especiales </h2>
                    <p> Nuestros clientes pueden recibir consultoría o visitas en sitio, para la planificación u gestión de proyectos especiales. </p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
    </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
</div>
</div>
 

<a name="beneficios" ></a>
<h3 class="ribbon-title">Beneficios</h3>


<div class="benefits">
<div class="over_content">
  <br>
  <div id="myCarousel2" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel2" data-slide-to="1"></li>
      <li data-target="#myCarousel2" data-slide-to="2"></li>
      <li data-target="#myCarousel2" data-slide-to="3"></li>
      <li data-target="#myCarousel2" data-slide-to="4"></li>
      <li data-target="#myCarousel2" data-slide-to="5"></li>
      <li data-target="#myCarousel2" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/benefit-012.png" alt="Outstanding customer service">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Benefit.01</span><h2>Outstanding customer service</h2>
					We install our remote support software and take over responsibility for managing your computer infrastructure.
                </div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
             
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/benefit-022.png" alt=" Single point of service">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Benefit.02</span><h2> Single point of service</h2>
					Does dealing with your internet, email, web hosting and software vendors feel like an unpleasant game of ping pong? At ExoSource, everything is our problem. If an issue is outside of our control, we’ll deal with your technical vendors on your behalf.
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
    
      <div class="item">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/benefit-032.png" alt=" Affordable expertise">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
            		<span class="title green_text">Benefit.03</span><h2> Affordable expertise</h2>
    				By sharing our team of experts you get your very own IT department at a fraction of the cost of hiring internal resources, and gain access to higher levels of expertise.
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/benefit-042.png" alt=" Improved productivity">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
                    <span class="title green_text">Benefit.04</span><h2> Improved productivity</h2>
		            We’ll help you make your business more competitive and efficient by using technology the right way.
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/benefit-052.png" alt=" More free time">
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Benefit.05</span><h2> More free time</h2>
					You have better things to do than managing your computer systems. You can stay in control of cost and direction, while we sweat the details.
            
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/benefit-062.png" alt=" Peace of mind">    
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Benefit.06</span><h2> Peace of mind</h2>
					Who has access to your confidential documents? Are your backups even working? What happens in case of fire or theft? Let us worry in your place so you can start catching up on that “sleep” you’ve heard so much about.
            
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/benefit-072.png" alt=" Reduced downtime">	
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Benefit.07</span><h2> Reduced downtime</h2>
					On-call computer support companies increase their profit when your network breaks. Our business model, based on a monthly fee, ensures that we work extra hard at maintaining your systems and preventing issues before they occur.
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      
    </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
</div>
</div>


 <a name="servicios" ></a>
 <h3 class="ribbon-title">Opciones de Servicios</h3>
 
 
<div class="over_content">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/option-011.png" alt="Cloud Backups">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
    				<span class="title green_text">Option.01</span><h2>Cloud Backups</h2>
    				<p>Cloud backups provide an efficient and secure way to store critical data in multiple geographical locations to protect against theft, fire and natural disasters.</p>
                </div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
             
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/option-021.png" alt="Cloud Email and Collaboration Tools">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Option.02</span><h2>Cloud Email and Collaboration Tools</h2>
					<p>We offer the two most popular Cloud Email and Collaboration platforms: Microsoft Exchange Online and Google Apps Premier. Both systems provide powerful email features, contact management, calendar sharing, mobile device sync and a huge amount of extra features.</p>
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
    
      <div class="item">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/option-041.png" alt="Web Hosting and Domain Management">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Option.03</span><h2>Web Hosting and Domain Management</h2>
					<p>We can host your website and manage your domains and DNS services for you. Our high-performance hosting service is offered exclusively to our managed customers and includes sysadmin-level support.</p>
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/option-051.png" alt="Advanced Web Hosting">
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Option.04</span><h2>Advanced Web Hosting</h2>
					<p>If your website or web application is an integral part of your business, traditional web hosting might not be enough. Our Web Operations department can provide you with a scalable, high-performance and high-availability web hosting infrastructure backed with enterprise-level guarantees.</p>

				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/option-061.png" alt="VoIP Services">
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
            		<span class="title green_text">Option.05</span><h2>VoIP Services</h2>
            		<p>Voice over IP is quickly gaining in popularity with solutions that are cheaper and more flexible than traditional telephone systems.</p>
            
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="http://www.exosource.com/wp-content/uploads/2012/12/option-071.png" alt="Co-managed IT Services">
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
            		<span class="title green_text">Option.06</span><h2>Co-managed IT Services</h2>
            		<p>We can complement your existing IT team by providing governance, help desk, system administration, monitoring and project consulting as independent services.</p>
            
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
    </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
</div>


 <h3 class="ribbon-title">Ubicación y Contacto</h3>
 <a name="ubicacion" ></a> 

 <div class="fluid-wrapper">
   <iframe src="https://www.google.com/maps/d/embed?mid=zv6bLBsdDJTk.kD4GC6KeFoYY" width="90%" height="420"></iframe>
 </div>

</br>
 <div class="row">
 <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/contact.png" %>
      <div class="caption">
            <h5 class="azul ">Teléfonos / Telefax</h5>
            <p>
              +58 (212) 285.09.42
            <h5 class="azul ">RIF. </h5>
            <p>
             J-31379724-3
            </p>
      </div>
    </div>
  </div>
    <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/mail.png" %>
      <div class="caption">
         <h5 class="azul  mt10">Correo Electronico</h5>
            <p>
              <a href="mailto:info@strix.com.ve?subject=feedback">info@strix.com.ve</a>
            </p>
         <h5 class="azul  mt10">Pagina Web</h5>
            <p>
             <a href ="http://www.strix.com.ve">http://www.strix.com.ve</a>
            </p>
      </div>
    </div>
  </div>
    <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/calendar.png" %>
      <div class="caption">
          <h5 class="azul ">Horarios de Oficina</h5>
            <p>
              Lunes a Viernes
              <br>8:30 am - 1:00 pm / 1:30 pm - 5:00 pm</p>
            </p>
          </div>
      </div>
    </div>
  </div>
</div>






