<h1> Esta es la pagina de bienvenida de strix, someday....</h1>

 <a href="#">
  
  <%= image_tag "Under_creation.jpg" %> 
  <%= image_tag "sleep_under.jpg" %>
  <% if user_signed_in? %>
   <%= image_tag "animer_under.jpg" %>
   <%= image_tag "Doodles/mr_owl_s_dance_by_yannickbouchard-d7kqo62.gif" %>
  <% end %>
    
 </a>

<h3 class="ribbon-title">Cualidades</h3>
<a name="cualidades" ></a>

<div class="features">
<div class="over_content">
  <br>
  <div id="myCarousel3" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel3" data-slide-to="1"></li>
      <li data-target="#myCarousel3" data-slide-to="2"></li>
      <li data-target="#myCarousel3" data-slide-to="3"></li>
      <li data-target="#myCarousel3" data-slide-to="4"></li>
      <li data-target="#myCarousel3" data-slide-to="5"></li>
      <li data-target="#myCarousel3" data-slide-to="6"></li>
      <li data-target="#myCarousel3" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "features/feature-1.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Cualidad.01</span><h2>Soporte rápido</h2>
					<p>Nuestros Clientes reciben acceso ilimitado a nuestro escritorio de soporte.  Llámanos o envíanos un email y tu problema será resuelto rápidamente por uno de nuestros expertos. </p>
                </div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
             
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "features/feature-2.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Cualidad.02</span><h2>Su propio director Informatico</h2>
					<p>Se le asignará un Director Técnico que estará a su disposición en todo momento. Su director le ayudará con las cuestiones que quedan fuera del alcance de apoyo tales como la planificación estratégica, la compra de equipos y proyectos especiales.</p>
				</div>
                  



              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
    
      <div class="item">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "features/feature-3.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Cualidad.03</span><h2> Mantenimiento Proactivo </h2>
                    <p> Hemos automatizado tareas de servidor y mantenimiento informático para mantener sus servicios y dispositivos que ejecutan sin problemas al tiempo que aumenta su vida útil. También mantendremos sus software y sistemas operativos al día para garantizar la seguridad y la estabilidad óptima. </p>
                </div>  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "features/feature-4.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Cualidad.04</span><h2>Monitoreo 24/7  </h2>
                    <p> Mantendremos  un ojo en sus sistemas en todo momento y proporcionar una respuesta rápida a todo tipo de incidentes. Nuestros administradores de sistemas experimentados manejan estas cuestiones como parte de su plan de apoyo.</p>
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "features/feature-5.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Cualidad.05</span><h2> Copias de seguridad obsesivas</h2>
					<p>Proporcionamos y gestionamos una solución de copias de seguridad y recuperación de desastres completa con múltiples niveles de redundancia para que nunca vuelva a perder un archivo importante.</p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "features/feature-6.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Cualidad.06</span><h2> Seguridad Integrada </h2>
                    <p> Gestionamos y configuramos su Anti-spam, VPN, antivirus, cortafuegos y WIFI para mantener su red segura, sin entrometernos, ni estorbar. </p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "features/feature-7.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Cualidad.07</span><h2>Documentación y presentación de informes </h2>
                    <p> Vamos a mantener al día documentación de su red de computadoras, así como un inventario de sus sistemas, licencias y proveedores de software. Varios tipos de informes disponibles a demanda. </p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "features/feature-8.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Cualidad.08</span><h2> Consultoría en Proyectos Especiales </h2>
                    <p> Nuestros clientes pueden recibir consultoría o visitas en sitio, para la planificación u gestión de proyectos especiales. </p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
    </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
</div>
</div>
 

<a name="beneficios" ></a>
<h3 class="ribbon-title">Beneficios</h3>


<div class="benefits">
<div class="over_content">
  <br>
  <div id="myCarousel2" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel2" data-slide-to="1"></li>
      <li data-target="#myCarousel2" data-slide-to="2"></li>
      <li data-target="#myCarousel2" data-slide-to="3"></li>
      <li data-target="#myCarousel2" data-slide-to="4"></li>
      <li data-target="#myCarousel2" data-slide-to="5"></li>
      <li data-target="#myCarousel2" data-slide-to="6"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "benefits/benefit-1.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Beneficio.01</span><h2>Excepcional servicio al cliente </h2>
                    Instalamos nuestro software de soporte remoto y tomamos la responsabilidad de la gestión de su infraestructura informática.
                </div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
             
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "benefits/benefit-2.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Beneficio.02</span><h2> Un único punto de servicio </h2>
                    ¿Encargarse de su red, correo electrónico, alojamiento web, proveedores de software u otros, se siente como un juego desagradable de ping pong? En Strix, todo es nuestro problema. Si un asunto está fuera de nuestro control, nos ocuparemos de sus proveedores técnicos en su nombre.
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
    
      <div class="item">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "benefits/benefit-3.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
            		<span class="title green_text">Beneficio.03</span><h2> Experiencia asequible </h2>
                    Al tener nuestro equipo de expertos en vez de tener su propio departamento de Informática, puedes tener acceso a niveles superiores de especialización por una fracción del costo de la contratación.

				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "benefits/benefit-4.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
                    <span class="title green_text">Beneficio.04</span><h2> Mejora de la productividad </h2>
                    Le ayudaremos a hacer su negocio más competitivo y eficiente mediante el uso de la tecnología de la manera correcta.
				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "benefits/benefit-5.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Beneficio.05</span><h2>Más tiempo libre </h2>
                    Usted tiene cosas mejores que hacer que la gestión de sus sistemas informáticos. Usted puede permanecer en el control de costes y dirección, mientras nosotros nos preocupamos por los detalles.
            
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "benefits/benefit-6.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Beneficio.06</span><h2> Tranquilidad </h2>
                    ¿Quién tiene acceso a sus documentos confidenciales? ¿Está la copia de seguridad funcionando? ¿Qué pasaría en caso de incendio o robo? Vamos a preocuparnos en su lugar para que pueda empezar a ponerse al día en recuperar el "sueño" del que tanto habla la gente.

            
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "benefits/benefit-7.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
					<span class="title green_text">Beneficio.07</span><h2> El tiempo de inactividad reducido </h2>
                    Empresas de apoyo informático  por “llamada” aumentan sus utilidades cuando las cosas se dañan. Nuestro modelo de negocio, basado en una cuota mensual, asegura que trabajamos muy duro en el mantenimiento de sus sistemas y la prevención de los problemas antes de que ocurran.

            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      
    </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
</div>
</div>


 <a name="servicios" ></a>
 <h3 class="ribbon-title">Opciones de Servicios</h3>
 
 
<div class="over_content">
  <br>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
          
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "options/option-1.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
    				<span class="title green_text">Opción.01</span><h2>Copias de seguridad en la nube </h2>
                    <p> Las copias de seguridad en la nube proporcionan una manera eficiente y segura para almacenar datos críticos en múltiples ubicaciones geográficas para proteger contra robo, incendio y desastres naturales. </p>

                </div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
             
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "options/option-2.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Opción.02</span><h2>Servicio de correo electrónico, herramientas de colaboración, etc. </h2>
                    <p> Ofrecemos soluciones para la nube de correo electrónico u correo corporativo, así como herramientas de colaboración para cualquier plataformas. Todos ellos ofrecen funciones de correo electrónico de gran alcance, gestión de contactos, compartir el calendario , sincronización de dispositivos móviles y una gran cantidad de características adicionales. </p>

				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
    
      <div class="item">
                    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "options/option-3.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Opción.03</span><h2>Alojamiento Web y administración de dominio </h2>
                    <p> Podemos alojar su sitio web y gestionar sus dominios y servicios de DNS para usted. Nuestro servicio de alojamiento de alto rendimiento se ofrece exclusivamente a nuestros clientes gestionados e incluye soporte a nivel de administrador de sistemas. </p>

				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>

      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "options/option-4.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
                <div class="content">
					<span class="title green_text">Opción.04</span><h2>Alojamiento Web Avanzado </h2>
                    <p> Si su sitio web o aplicación web es una parte integral de su negocio, un alojamiento web tradicional podría no ser suficiente. Nuestro departamento de Operaciones Web puede proporcionarle una solución escalable, de alto rendimiento y alta disponibilidad infraestructura de alojamiento web con soporte de garantías a nivel empresarial. </p>


				</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "options/option-5.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
            		<span class="title green_text">Opción.05</span><h2>Servicios VoIP </h2>
                    <p> Voz sobre IP está ganando rápidamente en popularidad con soluciones que son más baratos y más flexibles que los sistemas telefónicos tradicionales. </p>
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
      <div class="item">
            <!-- Stack the columns on mobile by making one full-width and the other half-width -->
            <div class="row">
              <div class="col-xs-12 col-md-2">
                  <!--right here is the previous button    -->
              </div>
              <div class="col-xs-12 col-md-4">
                  <%= image_tag "options/option-6.png" %>
              </div>
              <div class="col-xs-12 col-md-4">
                  
            	<div class="content">
            		<span class="title green_text">Opción.06</span><h2>Servicios Co gestionados de Informática </h2>
                    <p> Podemos complementar su equipo de existente de Informática, proporcionando gestión, ayudas en sitio, administración del sistema, supervisión y consultoría para proyectos como servicios independientes. </p>

            
            	</div>
                  
              </div>
              <div class="col-xs-12 col-md-2">
                  <!--right here is the next button    -->
              </div>
            </div>
            </br>
            </br>
            </br>
      </div>
      
    </div>
    
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    
  </div>
</div>


 <h3 class="ribbon-title">Ubicación y Contacto</h3>
 <a name="ubicacion" ></a> 

 <div class="fluid-wrapper">
   <iframe src="https://www.google.com/maps/d/embed?mid=zv6bLBsdDJTk.kD4GC6KeFoYY" width="90%" height="420"></iframe>
 </div>

</br>
 <div class="row">
 <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/contact.png" %>
      <div class="caption">
            <h5 class="azul ">Teléfonos / Telefax</h5>
            <p>
              +58 (212) 285.09.42
            <h5 class="azul ">RIF. </h5>
            <p>
             J-31379724-3
            </p>
      </div>
    </div>
  </div>
    <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/mail.png" %>
      <div class="caption">
         <h5 class="azul  mt10">Correo Electronico</h5>
            <p>
              <a href="mailto:info@strix.com.ve?subject=feedback">info@strix.com.ve</a>
            </p>
         <h5 class="azul  mt10">Pagina Web</h5>
            <p>
             <a href ="http://www.strix.com.ve">http://www.strix.com.ve</a>
            </p>
      </div>
    </div>
  </div>
    <div class="col-sm-12 col-md-4">
    <div class="thumbnail">
      <%= image_tag "icons/calendar.png" %>
      <div class="caption">
          <h5 class="azul ">Horarios de Oficina</h5>
            <p>
              Lunes a Viernes
              <br>8:30 am - 1:00 pm / 1:30 pm - 5:00 pm</p>
            </p>
          </div>
      </div>
    </div>
  </div>
</div>






